<%= form_with(model: rtcon, local: true) do |form| %>
  <% if rtcon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rtcon.errors.count, "error") %> prohibited this rtcon from being saved:</h2>

      <ul>
      <% rtcon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
