<p id="notice"><%= notice %></p>

<h1>Rtcons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rtcons.each do |rtcon| %>
      <tr>
        <td><%= link_to 'Show', rtcon %></td>
        <td><%= link_to 'Edit', edit_rtcon_path(rtcon) %></td>
        <td><%= link_to 'Destroy', rtcon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rtcon', new_rtcon_path %>
