<%# ,:id => 'conn', :data => { :uid => u.id, :rid => u.rtc_id   %>
Status: <pre id='status'>Connecting..</pre><br>
<%= text_field_tag "msg","",:id => "msg"%>
<button type="button" id="send">Send</button>
<button type="button" id="call">Call</button>
<video controls muted id='myVid'></video><br>
<video id='yourVid'></video>
<video id='yourScreen'></video>
<br>
<pre id='message'></pre>
<script>
    var con1 = null;
    var peer = null;
    var conn = null;
    var lastPeerId = null;
    var joinfn;
    (function(){
        //var url1 = 'localhost';
        var url1 = 'ec2-3-22-202-169.us-east-2.compute.amazonaws.com';
        var stat = document.getElementById('status');
        var mg = document.getElementById('message');
        var send = document.getElementById('send');
        var myVid = document.getElementById('myVid');
        var yourScreen = document.getElementById('yourScreen');
        var myStream = null;
        var constraints = {
            audio: true,
            video: { width: 400, height: 400 }
        }
        navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
                myVid.srcObject = stream;
                myStream = stream;
                myVid.onloadedmetadata = function(e) {
                    myVid.play();
                };
            })
            .catch( err => { console.log(err)})
        function initialize() {

            peer = new Peer({
            host: url1,
            port: 9000,
            path: '/myapp',
            debug: 2,
//            config: {'iceServers': [
//                { url: 'stun:stun.l.google.com:19302' },
//                { url: 'stun:stun1.l.google.com:19302' },
 //           ]}
            });
            peer.on('open',function(id) {
                if (peer.id === null) {
                    console.log('Received null id from peer open');
                    peer.id = lastPeerId;
                } else {
                    lastPeerId = peer.id;
                }
                stat.innerHTML = "Connection ready :" + id;
		        joinfn();
            });

            peer.on('disconnected', function () {
                stat.innerHTML = "Connection lost. Please reconnect";

                // Workaround for peer.reconnect deleting previous id
                peer.id = lastPeerId;
                peer._lastServerId = lastPeerId;
                peer.reconnect();
            });
	

	    peer.on('error', function(err) {
		    stat.innerHTML = "err: " + err.type;
	    });

            peer.on('close', function() {
                conn = null;
                stat.innerHTML = "Connection destroyed. Please refresh";
                console.log('Connection destroyed');
            });

        }
        joinfn = function() {
            if (conn) {
                conn.close();
            }
            conn = peer.connect('<%= @user.rtc_id %>', {
                reliable: true
            });
            conn.on('open', function () { 
		  
                stat.innerHTML = "Connected to Host" ;//: <%= @user.email%>" ;
            });

            conn.on('data', function (data) {
                mg.innerHTML += ("<%=@user.email%> :" + data + "\n");
            });

            conn.on('close', function () {
                stat.innerHTML = "Connection closed";
            });

		conn.on('error', function(err) {
			stat.innerHTML = 'error';
			console.log(err);
	    });

        }

            initialize();

        send.addEventListener( 'click', function(){
            if (conn && conn.open){
                mg.innerHTML += "me: " + msg.value + "\n";
                conn.send(msg.value);   
                msg.value = ""; 
            } else {
                console.log("no connection");
            }
        });
        call.addEventListener( 'click', function(){
		call = peer.call('<%= @user.rtc_id %>',myStream);

		call.on('stream', function(stream) {
		    yourVid.srcObject = stream;
		    yourVid.play();
		});
        });
    })();
</script>
