rtcid: <%=current_user.rtc_id%><br>
Status: <pre id='status'></pre><br>
<%= text_field_tag "msg","",:id => "msg"%>
<button type="button" id="send">Send</button>
<video id='myVid'></video><br>
<video id='yourVid'></video><br>
<pre id='message'></pre>
<script>
    var peer = null;
    var conn = null;
    var call = null;
    (function () {
        var url1 = 'ec2-3-22-202-169.us-east-2.compute.amazonaws.com';
        //var url1 = 'localhost';
        var video = document.getElementById('myVid');
        var yourVid  = document.getElementById('yourVid');
        var myStream = null;
        var constraints = {
            audio: true,
            video: { width: 400, height: 400 }
        }
        constraints = {
            video: {
                mediaSource: "screen"
            }
        }
        navigator.mediaDevices.getUserMedia(constraints)
            .then((stream) => {
                myStream = stream;
                video.srcObject = stream;
                video.onloadedmetadata = function(e) {
                    video.play();
                };
            })
            .catch( err => { console.log(err)})
        var stat = document.getElementById('status');
        var send = document.getElementById('send');
        var mg = document.getElementById('message');
        var msg = document.getElementById('msg');
        var lastPeerId = null;
        function initialize() {
            peer = new Peer( '<%=current_user.rtc_id%>',{
            host: url1,
            port: 9000,
            path: '/myapp',
            debug: 2,
            config: {'iceServers': [
                        { url: 'stun:stun.l.google.com:19302' },
                        { url: 'stun:stun1.l.google.com:19302' },
                    ] 
                    }
            });
            peer.on('call', function(call) {
                // Answer the call, providing our mediaStream
                call.answer(myStream);
                call.on('stream',function(stream){
                    yourVid.srcObject = stream;
                    yourVid.play()
                })
            });



            peer.on('open', (conn) => {
                stat.innerHTML = "Host ready";
                if (peer.id === null) {
                        console.log('Received null id from peer open');
                        peer.id = lastPeerId;
                    } else {
                        lastPeerId = peer.id;
                }
            });
            peer.on('connection', (c) => {
                if (conn && conn.open) {
			console.log("iii");
                    c.on('open', function() {
                        c.send("Already connected to another client");
                        setTimeout(function() { c.close(); }, 500);
                    });
                    return;
                }
                conn = c;
                stat.innerHTML = "Client Connected";
                ready();
            });
            peer.on('close', function() {
                conn = null;
                stat.innerHTML = "Connection destroyed. Please refresh";
            });

            peer.on('disconnected', (conn) => {
                stat.innerHTML = "peer disconnected, Awaiting Connection";
                peer.id = lastPeerId;
                peer._lastServerId = lastPeerId;
                peer.reconnect();
            });


        }
        function ready() {
            conn.on('data', function (data) {
                mg.innerHTML += ("other guy :" + data + "\n");
            });
            conn.on('close', function () {
                status.innerHTML = "Connection reset<br>Awaiting connection...";
                conn = null;
            });
        }
        initialize();
        send.addEventListener( 'click', function(){
            if (conn ){
                mg.innerHTML += "me: " + msg.value + "\n";
                conn.send(msg.value);   
                msg.value = ""; 
            } else {
                console.log("no connection");
            }
        });
    })();
</script>
