<h1>Home#index</h1>
Welcome <%= current_user.email %><br>
<b>Channel Status: </b> <%= @channel_status%> <br>
<table>
  <tr><th>email</th><th>status</th><th>Connect</th></tr>
<% @other_users.each do |u| %>
	<tr>
  <td><%= u.email%></td>
  <td><%=u.host_status ? "Active" : "Inactive"%></td>
  <td>
  <% if u.host_status%>
  <%= link_to "connect","/home/client?uid=#{u.id}" %>
  <% end%>
  </td>
	</tr>
<% end %>
</table>
<%= link_to  "create channel", home_create_channel_path %> <br>
<%= link_to "join Host", "/home/host" , :id =>'ch'%>
<pre id='message'>
</pre>
